#welcome
	.section-container
		.row-fluid.mobile-title.hidden-desktop
			%a.mobile-logo{:href => '#'}
				%span.icon.logo-white-small
					%img.print{:src => "/images/logos/colored/logo-small.png"}
				%p.name-description
					%span.name
						Maxime Ghignet
					%br
					%span.description
						=$welcome_description
			.language
				%a{:href => "#{$config['base_url']}fr/"}
					.icon.icon-france
				%a{:href => "#{$config['base_url']}en/"}
					.icon.icon-usa
		.row-fluid.content
			.span7.offset1
				%h2 =$welcome_slogan
				.carousel.slide#tips-carousel
					.carousel-inner
						%p.item.active
							=$welcome_slide1
						%p.item
							=$welcome_slide2
						%p.item
							=$welcome_slide3
						%p.item
							=$welcome_slide4
						%p.item
							=$welcome_slide5
						%p.item
							(\ /)
							%br
							(O.o)
							%br
							(> <)
							%br
							=$welcome_slide6
						%p.item
							=$welcome_slide7
				#next-section
					%a.btn.btn-large.transparent{:href => '#skills'} =$welcome_scrolldown_button
			.span3.personal-info
				.icon.icon-twitter
				%a{:href => 'https://twitter.com/mghignet', :target => '_blank'} @mghignet
				%br
				.icon.icon-github
				%a{:href => 'https://github.com/mghignet', :target => '_blank'} mghignet
				%br
				.icon.icon-linkedin
				%a{:href => 'http://fr.linkedin.com/pub/maxime-ghignet/27/175/224', :target => '_blank'} LinkedIn
				%br
				.icon.icon-home
				Lille, France
				%br
				.icon.icon-car
				=$welcome_drivers_license
#skills
	.section-container
		%h2 =$skills_title
		.row-fluid
			.span4.content-span
				%h3 =$skills_title_web_mobile
				%ul
					%li.strong Javascript (+Ecmascript 6), AngularJS, ExpressJS, Sails.js, Grunt, Gulp, Bower
					%li.strong Java: Spring MVC, Thymeleaf, Jersey, Maven
					%li.strong HTML5, HAML, SLIM, Jade
					%li.strong CSS3, Sass (+frameworks), Less, Responsive Design
					%li.strong Android, iOS
					%li
						=$skills_payment_solutions
						Braintree, PayPal, Authorize.net
					%li Ruby on Rails, Rspec, Cucumber
					%li PHP, CodeIgniter, Symfony2
			.span4.content-span
				%h3 =$skills_title_development
				%ul
					%li.strong Javascript (+Ecmascript 6), NodeJS, Mocha/Chai, Karma/Jasmine, ... 
					%li.strong Java 8, Spring, JPA, JUnit, Maven
					%li.strong 
						=$skills_unit_testing
						TDD
					%li.strong
						=$skills_version_control
						Git (
						=$skills_advanced_use
						), Subversion
					%li Objective-C (+iOS SDK)
					%li C, Ada
					%li VB.NET, VBA, C#.NET
					%li =$skills_databases
						MySQL, SQL Server, SQLite, PostgreSQL, Access
			.span4.content-span
				%h3 =$skills_title_other_skills
				%ul
					%li.strong =$skills_webservices
					%li.strong UNIX, scripting shell
					%li.strong Build/tasks: Maven, Gradle, Grunt, Bower
					%li.strong CI: Jenkins
					%li =$skills_cryptography
					%li Photoshop, The Gimp
					%li ="MVC, UML, SADT"
		.row-fluid
			.span4.offset2.content-span
				%h3 =$skills_title_project_management
				%ul
					%li.strong 
						=$skills_agile_methods
						(Scrum)
					%li.strong =$skills_data_driven_management
					%li A/B Testing
					%li
						=$skills_tools
						Asana, Trello, Jira, Scrumdo
			.span4.content-span
				%h3 =$skills_title_languages
				%ul
					%li.strong =$skills_english
					%li =$skills_french
					%li =$skills_spanish
#education
	.section-container.bright
		%h2 =$education_title
		.row-fluid
			.span4.offset2.content-span
				%h3 2013
				.row-fluid
					.span8
						.strong
							=$education_engineer_diploma
						=$education_engineer_diploma_from
						.location
							@Lens, France
					.span3.offset1.logo
						%img{:src => '/images/logos/colored/logo-ig2i.png', :alt => 'IG2I Logo'}
						%br
						%img{:src => '/images/logos/colored/logo-centrale-lille.png', :alt => 'Centrale Lille Logo'}
			.span4.content-span
				%h3 2008
				.strong
					=$education_bac
				=$education_bac_description
				.location
					@Liévin, France
#experience
	.section-container
		%h2 =$experience_title
		.row-fluid
			.span6.content-span
				%h3
					=$experience_ciev_title
				.row-fluid
					.span3.logo
						%img.screen{:src => '/images/logos/logo-ineat-white.png', :alt => 'Ineat-Conseil Logo'}
						%img.print{:src => '/images/logos/colored/logo-ineat.png', :alt => 'Ineat-Conseil Logo'}
					.span9
						.period
							=$experience_ciev_period
						.at
							@"La Compagnie des Vétérinaires" via Ineat-Conseil, Lille
						=$experience_ciev_description1
						%ul
							%li =$experience_ciev_description1_1
							%li =$experience_ciev_description1_2
							%li =$experience_ciev_description1_3
						%br
						=$experience_ciev_description2
			.span6.content-span
				%h3
					=$experience_dartagnan_title
				.row-fluid
					.span3.logo
						%img.screen{:src => '/images/logos/logo-ineat-white.png', :alt => 'Ineat-Conseil Logo'}
						%img.print{:src => '/images/logos/colored/logo-ineat.png', :alt => 'Ineat-Conseil Logo'}
					.span9
						.period
							=$experience_dartagnan_period
						.at
							@Ineat-Conseil, Lille
						=$experience_dartagnan_description1
						%ul
							%li =$experience_dartagnan_description1_1
							%li =$experience_dartagnan_description1_2
						%br
						=$experience_dartagnan_description2
		.row-fluid
			.span6.content-span
				%h3
					=$experience_adeo2_title
				.row-fluid
					.span3.logo
						%img.screen{:src => '/images/logos/logo-adeo-white.png', :alt => 'Groupe Adeo Logo'}
						%img.print{:src => '/images/logos/colored/logo-adeo.png', :alt => 'Groupe Adeo Logo'}
						%br
						%img.screen{:src => '/images/logos/logo-leroy-merlin-white.png', :alt => 'Leroy Merlin Logo'}
						%img.print{:src => '/images/logos/colored/logo-leroy-merlin.png', :alt => 'Leroy Merlin Logo'}
						%br
						%img.screen{:src => '/images/logos/logo-ineat-white.png', :alt => 'Ineat-Conseil Logo'}
						%img.print{:src => '/images/logos/colored/logo-ineat.png', :alt => 'Ineat-Conseil Logo'}
					.span9
						.period
							=$experience_adeo2_period
						.at
							@Groupe Adeo (Leroy Merlin) via Ineat-Conseil
						=$experience_adeo2_description1
						%ul
							%li =$experience_adeo2_description1_1
							%li =$experience_adeo2_description1_2
			.span6.content-span
				%h3
					=$experience_thredup_title
					%span.icon.icon-usa
				.row-fluid
					.span3.logo
						%img.screen{:src => '/images/logos/logo-thredup-white.png', :alt => 'thredUP Logo'}
						%img.print{:src => '/images/logos/colored/logo-thredup.png', :alt => 'thredUP Logo'}
					.span9
						.period
							=$experience_thredup_period
						.at
							@thredUP Inc, San Francisco, California, USA
						=$experience_thredup_description1
						%br
						=$experience_thredup_description2
		.row-fluid
			.span6.content-span
				%h3 =$experience_autoentrepreneur_title
				.row-fluid
					.span3.logo#mg-logo
						%img.screen{:src => '/images/logos/logo-white.png', :alt => 'Maxime Ghignet Logo'}
						%img.print{:src => '/images/logos/colored/logo.png', :alt => 'Maxime Ghignet Logo'}
					.span9
						.period
							=$experience_autoentrepreneur_period
						=$experience_autoentrepreneur_description1
			.span6.content-span
				%h3 =$experience_adeo_title
				.row-fluid
					.span3.logo
						%img.screen{:src => '/images/logos/logo-adeo-white.png', :alt => 'Groupe Adeo Logo'}
						%img.print{:src => '/images/logos/colored/logo-adeo.png', :alt => 'Groupe Adeo Logo'}
						%br
						%img.screen{:src => '/images/logos/logo-leroy-merlin-white.png', :alt => 'Leroy Merlin Logo'}
						%img.print{:src => '/images/logos/colored/logo-leroy-merlin.png', :alt => 'Leroy Merlin Logo'}

					.span9
						.period
							=$experience_adeo_period
						.at
							@Groupe Adeo (Leroy Merlin)
						=$experience_adeo_description1
						%ul
							%li =$experience_adeo_description1_1
							%li =$experience_adeo_description1_2
							%li =$experience_adeo_description1_3
		.row-fluid
			.span6.content-span
				%h3
					=$experience_thinkglobal_title
					%span.icon.icon-usa
				.row-fluid
					.span3.logo
						%img.screen{:src => '/images/logos/logo-thinkglobal-white.png', :alt => 'ThinkGlobal Logo'}
						%img.print{:src => '/images/logos/colored/logo-thinkglobal.png', :alt => 'ThinkGlobal Logo'}
					.span9
						.period
							=$experience_thinkglobal_period
						.at
							@ThinkGlobal Inc, Massachusetts, USA
						=$experience_thinkglobal_description1
			.span6.content-span
				%h3 =$experience_axians_title
				.row-fluid
					.span3.logo
						%img.screen{:src => '/images/logos/logo-axians-white.png', :alt => 'Axians Logo'}
						%img.print{:src => '/images/logos/colored/logo-axians.png', :alt => 'Axians Logo'}
						%br
						%img.screen{:src => '/images/logos/logo-vinci-white.png', :alt => 'Vinci Logo'}
						%img.print{:src => '/images/logos/colored/logo-vinci.png', :alt => 'Vinci Logo'}
					.span9
						.period
							=$experience_axians_period
						.at
							=$experience_axians_at
						=$experience_axians_description1
						%br
						=$experience_axians_description2

#projects
	.section-container.bright
		%h2 =$projects_title
		.row-fluid
			.span6.content-span
				%h3
					=$projects_thredup_checkout
					%span.icon.icon-usa
				.row-fluid
					.span4.screenshot
						%img{:src => '/images/projects/project-tup-checkout.jpg', :alt => 'thredUP checkout page'}
					.span8
						%ul.dark
							%li =$projects_thredup_checkout_tdd
							%li =$projects_thredup_checkout_ajax
							%li =$projects_thredup_checkout_payment
							%li =$projects_thredup_checkout_responsive_design
						.link-to
							%span.icon.icon-link-dark
							%a{:href => 'http://www.thredup.com', :title => "#{$projects_link_to_thredup}", :target => '_blank'} =$projects_link_to_thredup
						.technologies
							Technologies: Ruby on Rails, Rspec, Cucumber, BackboneJS, HAML, SASS, CoffeeScript, Gumby, Braintree API, PayPal API
			.span6.content-span
				%h3
					=$projects_thredup_ios
					%span.icon.icon-usa
				.row-fluid
					.span4.screenshot
						%img{:src => '/images/projects/project-tup-ios.jpg', :alt => 'thredUP iOS app'}
					.span8
						%ul.dark
							%li =$projects_thredup_ios_shop
							%li =$projects_thredup_ios_filters
							%li =$projects_thredup_ios_ux
						.link-to
							%span.icon.icon-link-dark
							%a{:href => 'https://itunes.apple.com/app/id499725337', :title => "#{$projects_link_to_thredup_ios}", :target => '_blank'} =$projects_link_to_thredup_ios
						.technologies
							Technologies: Objective-C + iOS SDK, JSON, REST web services
		.row-fluid
			.span6.content-span
				%h3
					=$projects_thredup_android
					%span.icon.icon-usa
				.row-fluid
					.span4.screenshot
						%img{:src => '/images/projects/project-tup-android.jpg', :alt => 'thredUP Android app'}
					.span8
						%ul.dark
							%li =$projects_thredup_android_filters
							%li =$projects_thredup_android_reskin
							%li =$projects_thredup_android_refactor
							%li =$projects_thredup_android_gcm
						.link-to
							%span.icon.icon-link-dark
							%a{:href => 'https://play.google.com/store/apps/details?id=com.thredup.android', :title => "#{$projects_link_to_thredup_android}", :target => '_blank'} =$projects_link_to_thredup_android
						.technologies
							Technologies: Java + Android SDK, REST web services, Google Cloud Messaging, Ruby on Rails
			.span6.content-span
				%h3 =$projects_lm_android
				.row-fluid
					.span4.screenshot
						%img{:src => '/images/projects/project-android-lmfrance.jpg', :alt => 'Leroy Merlin France Android app'}
					.span8
						%ul.dark
							%li =$projects_lm_android_tdd
							%li =$projects_lm_android_shop
							%li =$projects_lm_android_design
							%li =$projects_lm_android_data
						.link-to
							%span.icon.icon-link-dark
							%a{:href => 'https://play.google.com/store/apps/details?id=com.adeo.android.app', :title => "#{$projects_link_to_lm_android}", :target => '_blank'}
								=$projects_link_to_lm_android
						.technologies
							Technologies: Java + Android SDK, Maven, REST web services, XML, JSON
		.row-fluid
			.span6.content-span
				%h3 =$projects_commercial_news
					%span.icon.icon-usa
				.row-fluid
					.span4.screenshot
						%img{:src => '/images/projects/project-cnusa.jpg', :alt => 'Commercial News USA'}
					.span8
						%ul.dark
							%li =$projects_commercial_news_payment
							%li =$projects_commercial_news_pdf
							%li =$projects_commercial_news_design
							%li =$projects_commercial_upload
						.link-to
							%span.icon.icon-link-dark
							%a{:href => 'http://thinkglobal.us', :title => "#{$projects_link_to_commercial_news}", :target => '_blank'}=$projects_link_to_commercial_news
						.technologies
							Technologies: (x)HTML / CSS, jQuery, PHP, CodeIgniter, FPDF, Authorize.net API
			.span6.content-span
				%h3 =$projects_inova_dasri
				.row-fluid
					.span4.screenshot
						%img{:src => '/images/projects/project-dasri.jpg', :alt => 'Hospital wate management software'}
					.span8
						%ul.dark
							%li =$projects_inova_dasri_bin_weighing
							%li =$projects_inova_dasri_summary_printing
							%li =$projects_inova_dasri_barcode
							%li =$projects_inova_dasri_plc
							%li =$projects_inova_dasri_speed
							%li =$projects_inova_dasri_backup
						.technologies
							Technologies: 
							=$projects_inova_dasri_technologies
		.row-fluid
			.span6.content-span
				%h3 =$projects_inova_workshift_sheet
				.row-fluid
					.span4.screenshot
						%img{:src => '/images/projects/project-feuilledequart.jpg', :alt => 'Workshift sheet'}
					.span8
						%ul.dark
							%li =$projects_inova_workshift_sheet_data_input
							%li =$projects_inova_workshift_sheet_data_saving
							%li =$projects_inova_workshift_sheet_data_pulling
							%li =$projects_inova_workshift_sheet_report_generation
						.technologies
							Technologies: VBA-Excel, VB.NET, SQL Server, SAP Crystal Reports
			.span6.content-span
				%h3 =$projects_inova_ts3_viewer
				.row-fluid
					.span4.screenshot
						%img{:src => '/images/projects/project-ts3viewer.jpg', :alt => 'TS3 Viewer'}
					.span8
						%ul.dark
							%li =$projects_inova_ts3_viewer_html_parsing
							%li =$projects_inova_ts3_viewer_nested_lists
						.technologies
							Technologies: Java + Android SDK, HTML
